<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>TONSwap Explorer</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <script type="text/javascript" src="/app/modules/thirdparty/chart.js"></script>

</head>
<body>
<header class="header">
    <div class="header__container">
        <div class="header-logo">
            <img class="header-logo__logo" src="/img/logo.png" alt="">
            <p class="header-logo__name">Ton Swap</p>
        </div>
        <div class="header-menu header-menu_full">
            <ul class="header-menu__list">
                <li class="header-menu__list-item">
                    <a class="header-menu__list-link {{ controllerName == 'index'?'header-menu__list-link_active':'' }} "
                       href="/">Overview</a>
                </li>
                <li class="header-menu__list-item">
                    <a class="header-menu__list-link" href="#">Tokens</a>
                </li>
                <li class="header-menu__list-item">
                    <a class="header-menu__list-link {{ controllerName == 'pair'?'header-menu__list-link_active':'' }}"
                       href="/pair">Pairs</a>
                </li>
                <li class="header-menu__list-item">
                    <a class="header-menu__list-link" href="#">Accounts</a>
                </li>
            </ul>
        </div>

        <div class="switch header-mode">
            <input class="switch__input header-mode__input" type="checkbox" id="light-mode"/>
            <label class="switch__label header-mode__label" for="light-mode"></label>
            <p class="header-mode__title">Light mode</p>
        </div>
    </div>
</header>

<section class="main">
    <div class="a-overview">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
<footer class="footer">
    <div class="footer__container">
        <div class="footer__top">
            <div class="button button_l-blue footer__connect open-popup" data-popup="connect">Connect to a wallet</div>
            <div class="button button_l-blue footer__more">
                <span>More</span>
                <div class="footer-dropdown">
                    <ul class="footer-dropdown__list">
                        <li class="footer-dropdown__list-item">
                            <a class="footer-dropdown__list-link" href="#">About</a>
                        </li>
                        <li class="footer-dropdown__list-item">
                            <a class="footer-dropdown__list-link" href="#">Docs</a>
                        </li>
                        <li class="footer-dropdown__list-item">
                            <a class="footer-dropdown__list-link" href="#">Code</a>
                        </li>
                        <li class="footer-dropdown__list-item">
                            <a class="footer-dropdown__list-link" href="#">Discord</a>
                        </li>
                        <li class="footer-dropdown__list-item">
                            <a class="footer-dropdown__list-link" href="#">Analytics</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="switch footer-mode">
                <input class="switch__input footer-mode__input" type="checkbox" id="light-mode-2"/>
                <label class="switch__label footer-mode__label" for="light-mode-2"></label>
                <p class="footer-mode__title">Light mode</p>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="button button_l-blue footer__swap">Swap</div>
            <div class="button button_blue footer__tonswap">0 TONSWAP</div>
            <div class="footer__balance">0.007536 ETH</div>
            <div class="footer__account open-popup" data-popup="account">
                <span>0xb8b5...5f83</span>
                <i class="footer__account-icon"></i>
            </div>
        </div>
        <p class="footer__copyright">© Ton Swap</p>
        <p class="footer__id">Disconnected <span></span></p>
    </div>
</footer>


<script src="/js/vendor.min.js"></script>

<script src="/js/main.js" type="module"></script>
<script src="/app/modules/thirdparty/eventemitter3.min.js"></script>

<script>
    window.frontendData = JSON.parse('{{ frontendData }}');
</script>

<script src="/app/app.mjs" type="module"></script>
{# <script src="/js/chart.mjs"type="module"></script> #}

</body>
</html>