<form action="" class="a-overview-search">
    <input class="form__input a-overview-search__input" type="text" placeholder="Search Ton Swap pairs and tokens!!!">
    <div class="searchElements">
        <ul>
            <li>A</li>
            <li>B</li>
            <li>C</li>
        </ul>
    </div>
</form>